#jumbo {
    background-color: black;
    background-size: inherit;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
}

.card {
    width: 18rem;
}

.home-div, .home-news {
    padding-top: 30px;
}

.home-news {
    margin-top: 40px;
}