.ant-carousel .slick-slide {
    text-align: center;
    height: 560px;
    line-height: 160px;
    background: #005F40;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .img {
      vertical-align: middle !important;
      height: 300px;
      width: 300px;
  }