body {
    font-family: "raleway", Arial, Helvetica, sans-serif;
}

#title {
    color: #28a745;
    font-weight: bold;
}

#head {
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar2-space {
    margin-bottom: 20px;
}

#header-space {
    margin-bottom: 0;
    padding-bottom: 0;
}